orbs:
  aws-ecs: circleci/aws-ecs@1.4.0
  terraform: circleci/terraform@1.2.0
  aws-ecr: circleci/aws-ecr@6.15.2
  node: circleci/node@4.0.0

version: 2.1

jobs:
  checkout-code:
    docker:
      - image: cimg/base:2021.01 
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
            - .
  node-static-analysis:
    docker:
      - image: cimg/node:15.6.0
    steps:
      - attach_workspace:
          at: .
      - run: |
          npm install eslint eslint-plugin-react 
          node_modules/eslint/bin/eslint.js ./src/
        #TODO configure eslint
  terraform-format-check:
    docker:
      - image: cimg/base:2021.01 
    steps:
      - attach_workspace:
          at: .
      - terraform/install:  
          terraform_version: 0.14.5
      - terraform/fmt:  
          path: ./tf/infra
      - terraform/fmt:  
          path: ./tf/route53
  terraform-validate-and-plan:
    docker:
      - image: cimg/base:2021.01 
    steps:
      - attach_workspace:
          at: .
      - terraform/install:  
          terraform_version: 0.14.5
      - terraform/validate:  
          path: ./tf/infra
      - terraform/validate:  
          path: ./tf/route53
      - terraform/plan:
          path: ./tf/infra
          var: 'aws_resource_name_prefix=${AWS_RESOURCE_NAME_PREFIX},commit_hash=${CIRCLE_SHA1},vpc_id=${VPC_ID},subnet_id_a=${SUBNET_ID_A},subnet_id_b=${SUBNET_ID_B},ecs_key_pair_name=${ECS_KEY_PAIR_NAME}'
  build-image-and-push-to-ecr:
    machine:
      image: ubuntu-2004:202010-01
      docker_layer_caching: true
    resource_class: large
    steps:
      - attach_workspace:
          at: .
      - aws-ecr/build-and-push-image:
          repo: "${AWS_RESOURCE_NAME_PREFIX}-ecr"
          tag: "${CIRCLE_SHA1}"
          create-repo: false
          extra-build-args: "-m=8G --cpuset-cpus 0-2" 
  terraform-apply:
    docker:
      - image: cimg/base:2021.01 
    steps:
      - attach_workspace:
          at: .
      - terraform/install:  
          terraform_version: 0.14.5
      - terraform/init:
          path: ./tf/infra
      - terraform/apply:
          path: ./tf/infra
          var: 'aws_resource_name_prefix=${AWS_RESOURCE_NAME_PREFIX},commit_hash=${CIRCLE_SHA1},vpc_id=${VPC_ID},subnet_id_a=${SUBNET_ID_A},subnet_id_b=${SUBNET_ID_B},ecs_key_pair_name=${ECS_KEY_PAIR_NAME}'



workflows:
  version: 2
  test-and-deploy:
    jobs:
      - checkout-code
      - terraform-format-check:
          requires:
            - checkout-code
      - terraform-validate-and-plan:
          context: node-demo
          requires:
            - checkout-code
      - node/test:
          requires:
            - checkout-code
          post-steps:
            - save_cache:
                key: v1-node-deps
                paths:
                  - ./node_modules
      - node-static-analysis:
          requires:
            - checkout-code
      - manual-approval:
          type: approval
          requires:
            - node/test
            - node-static-analysis
            - terraform-validate-and-plan
      - manual-approval:
          type: approval
          requires:
            - build-image-and-push-to-ecr
      - terraform-apply:
          context: node-demo
          requires:
            - manual-approval
      - aws-ecs/deploy-service-update:
          context: node-demo
          requires:
            - terraform-apply
          family: "${AWS_RESOURCE_NAME_PREFIX}-service"
          cluster-name: "${AWS_RESOURCE_NAME_PREFIX}-cluster"
          container-image-name-updates: "container=${AWS_RESOURCE_NAME_PREFIX}-service,tag=${CIRCLE_SHA1}"



